.title{
    text-align: center;
  font-size: 15px;
    font-weight: 700;
    color: #212EA0;
    margin: 70px 0 30px;
    text-transform: uppercase;

}

.title h1{
    font-size: 40px;
    color: #212EA0;
    margin: 10px 0;
}

